@page "/postinterface"
@using BlazorApp2.Components.Shared
@using Me_MoApp
@inject Data.PostDataService pInfo
<PageTitle>PostInterface</PageTitle>


<h3 class="text-center">Post Interface</h3>


<p>
    @foreach (Post post in pInfo.Posts)
    {
        <PostDisplay DPost="post"></PostDisplay>

    }
</p>



@code {

}

