@page "/userinterface"
@using BlazorApp2.Components.Shared
@using Me_MoApp
@* @inject Data.UserDataService uInfo *@
@inject Data.ApplicationDbContext dbContext

<PageTitle>UserInterface</PageTitle>

<h3 class="text-center">User Interface</h3>

  

<p>
    @if(dbContext.UserData == null || !dbContext.UserData.Any())
    {
        <p>No users found.</p>
    }
    else
    {
            @foreach (UserData user in dbContext.UserData)
        {
        <UserDisplay DUser="user"></UserDisplay>
        }
    }


    


    @* @foreach (User user in uInfo.Users)
    {
        <UserDisplay DUser="user"></UserDisplay>
    } *@
</p>


@code {

}
