@page "/counter"
@using Me_MoApp
@inject Data.UserDataService uInfo
@inject Data.AddressDataService aInfo
@inject Data.PostDataService pInfo
@inject Data.VendorDataService vInfo




<PageTitle>Counter</PageTitle>

<h5>User Personal Details</h5>
<p> <UserDisplay DUser="uInfo.GetUsers()[0]"></UserDisplay> </p>
<br />

<h5>Personal Address Details</h5>
<p> <AddressDisplay DAddress="aInfo.GetAddresses()[0]"></AddressDisplay> </p>
<br />


<h5>Post Details</h5>
<p> <PostDisplay DPost="pInfo.GetTestPosts()[0]"></PostDisplay> </p>
<br />


<h5>Vendor Details</h5>
<p> <VendorDisplay DVendor="vInfo.GetVendors()[1]"></VendorDisplay> </p>



















<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    
    private void IncrementCount()
    {
        currentCount++;
        
    }
}
