@page "/postinterface"
@using Me_MoApp
@inject Data.PostDataService pInfo
<PageTitle>PostInterface</PageTitle>


<h3>Post Interface</h3>


<p>
    @foreach (Post post in pInfo.Posts)
    {
        <PostDisplay DPost="post"></PostDisplay>
    }
</p>


<p>
    @foreach (Comment c in pInfo.Comments)
    {
        @* <CommentDisplay Dcomment="c"></CommentDisplay> *@
        @* <AddCommentEntry>Comment="comment"</AddCommentEntry> *@
    }
</p>

@code {

}

