@page "/postinterface"
@using Me_MoApp
@inject Data.PostDataService pInfo
<PageTitle>PostInterface</PageTitle>

@* <SurveyPrompt Title="Heyyyooooooo bro"></SurveyPrompt> *@

<h3>Post Interface</h3>


<p>
    @foreach (Post post in pInfo.Posts)
    {
        <PostDisplay DPost="post"></PostDisplay>
    }
</p>

@code {

}

