@page "/postentryform"
@using BlazorApp1.Data
@using Me_MoApp
@inject UserDataService uds
@inject PostDataService pds
<PageTitle>PostInputInterface</PageTitle>

<h3>Post Entry Form</h3>

<EditForm Model="Post" OnSubmit="OnSubmit">
    <div class="col-md-4">
        <label for="picture" class="form-label">picture</label>
        <InputFile @bind-Value="Post.Path"></InputFile>
    </div>

    <div class="col-md-4">
        <label for="description" class="form-label">Description</label>
        <InputText @bind-Value="Post.Description"></InputText>
    </div>

    @* <InputNumber @bind-Value="Post.Categorization"></InputNumber>  *@
    @* <InputNumber @bind-Value="Post.Votes"></InputNumber> *@
      <button type="submit">Send</button>

</EditForm>

<EditForm Model="Comment" OnSubmit="SubmitComment">
    <div class="col-md-4">
        <label for="comment" class="form-label">comment</label>
        <InputText @bind-Value="Comment.Text"></InputText>
    </div>
    <button type="submit">Send</button>

</EditForm>



@code {
    public Post Post { get; set; } = new();

    void OnSubmit()
    {
        Post.TimeStamp = DateTime.Now;
        Post.User = uds.GetUsers()[0];

        pds.Posts.Add(Post);
    }

    public Comment Comment { get; set; } = new();

    void SubmitComment()
    {
        Comment.TimeStamp = DateTime.Now;
        Comment.Text = pds.ToString(); //is this ALRIGHT?

        pds.Comments.Add(Comment);
    }
}

come back here to see what works
create post and comment entry page that goes into either data service