@using BlazorApp2.Data
@using Me_MoApp
@inject VendorDataService vendorDataService;

<EditForm Model="Vendor" OnSubmit="UpdatePostValue">
    <div class="col-md-6">
        <br />
        <br />

        <label for="vendor_name" class="form-label">Add your vendor</label>
        <InputText @bind-Value="Vendor.BusinessName"></InputText>
        <label for="vendor_door_number" class="form-label">Add your door number</label>
        <InputText @bind-Value="Vendor.Address.Door" placeholder="Door number"></InputText>

    </div>
    <br />
    <button type="submit">Add new Vendor</button>

</EditForm>



@code {
    [Parameter]
    public Vendor Vendor { get; set; } = new();

    [Parameter]
    public EventCallback<Vendor> VendorChanged { get; set; }

    async Task UpdatePostValue()
    {
        vendorDataService.AddVendor(Vendor);
        // Post.Vendor.Add(Vendor);
        await VendorChanged.InvokeAsync(Vendor);
        Vendor = new();
    }
}
