@using Me_MoApp

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p>@Dcomment.Text</p>
            <small>by @Dcomment.User.FirstName on @Dcomment.TimeStamp</small>
    </div>
</div>
<br />

@code {
    [Parameter]
    public Comment Dcomment { get; set; }
}

