@page "/test"


<InputText @bind-Value="input"></InputText>
@foreach (var v in VendorsFiltered)
{
    <br />
    <p class = "btn btn-light" @onclick="() => VendorSelected(v)">@v</p>
}
@if(VendorsFiltered.Count < 3)
{
    <br />
    <p class="btn btn-info" >Add New Vendor</p>
}



@code {
    string input { get; set; } = "";
    List<String> Vendors = new() { "Vendor1", "Bla bla ", "Doobleedee", "More", "less" };
    List<String> VendorsFiltered => Vendors.Where(v => v.Contains(input)).ToList();

    void VendorSelected(string v)
    {
        //do what you need to do
    }
}