@using BlazorApp1.Data
@using Me_MoApp
@inject UserDataService uds

<EditForm Model="Comment" OnSubmit="UpdatePostValue">
    <div class="col-md-4">

        <label for="comment" class="form-label">Make a comment</label>
        @* <InputText @bind-Value="Comment.Text" class="form-control"></InputText> *@
        <InputText @bind-Value="Comment.Text"></InputText>

        @* <button type="submit">Send</button> *@
    </div>
    <button type="submit">Send</button>
    <hr />

</EditForm>

@code {
    [Parameter]
    public Post Post { get; set; }

    public Comment Comment { get; set; } = new();

    [Parameter]
    public EventCallback<Post> PostChanged { get; set; }

    async Task UpdatePostValue()
    {
        Comment.TimeStamp = DateTime.Now;
        Comment.User = uds.GetUsers()[0]; //what if this one is not here?

        Post.TheComments.Add(Comment);
        await PostChanged.InvokeAsync(Post);
        Comment = new();

        //Edit user not clear
        //vendors showing as a dropdown list or stored in place?
        //Is the navigation always provided in Blazor?

    }
}

