@page "/dropdown"
@using BlazorApp1.Data
@using Me_MoApp
@inject VendorDataService vendorDataService;

<div class="col-md-8">
    <br />
    <label for="vendor_name" class="form-label">Choose from vendor list </label>
    <InputText @bind-Value="_selectedVendorString" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." />
    <datalist id="datalistOptions">
        @foreach (var vendor in vendorDataService.GetVendors())
        {
            <option value="@vendor.BusinessName" />
        }

    </datalist>
    @if (vendorDataService.GetVendorByName(_selectedVendorString) == null)
    {
        <AddVendorExample Vendor="selectedVendor"/>
        //2-way binding component for adding new vendor and updating the vendor list(parent)
    }
    else
    {
        <button @onclick="UpdatePostValue">Select Vendor</button>
    }

</div>

@code {
    public Vendor Vendor { get; set; } = new();

    private Vendor selectedVendor { get; set; } = new();

    string _selectedVendorString { get; set; }

    [Parameter]
    public Post Post { get; set; } = new();

    [Parameter]
    public EventCallback<Post> PostChanged { get; set; } 






    async Task UpdatePostValue()
    {
        selectedVendor = vendorDataService.GetVendorByName(_selectedVendorString);

        Post.Vendor.Add(selectedVendor);
        await PostChanged.InvokeAsync(Post);
    }   
}
