@page "/dropdown"
@using BlazorApp1.Data
@using Me_MoApp
@inject VendorDataService vendorDataService;
@* <h3>DropdownExample</h3> *@

<div class="col-md-4">
    <br />
    <label for="vendor_name" class="form-label">Choose from vendor list </label>
    <InputText @bind-Value="_selectedVendorString" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." />
    <datalist id="datalistOptions">
        @foreach (var vendor in vendorDataService.GetVendors())
        {
            <option value="@vendor.BusinessName" />
        }
    </datalist>
    @if (vendorDataService.GetVendorByName(_selectedVendorString) == null)
    {
        <button >Add New Vendor</button>
        <AddVendorEntry @bind-Post="Post"></AddVendorEntry>
    }
    else
    {
        <button @onclick="UpdatePostValue">Select Vendor</button>
    }

</div>

@code {
    private Vendor selectedVendor { get; set; } = new();

    string _selectedVendorString { get; set; }

    [Parameter]
    public Post Post { get; set; } = new();

    [Parameter]
    public EventCallback<Post> PostChanged { get; set; } // what does this do?

    async Task UpdatePostValue()
    {
        selectedVendor = vendorDataService.GetVendorByName(_selectedVendorString);

        Post.Vendor.Add(selectedVendor);
        await PostChanged.InvokeAsync(Post); // what is this?
                                             //Vendor = new();
    }



}
