@page "/dropdown"
@using BlazorApp1.Data
@using Me_MoApp
@inject VendorDataService vendorDataService;
<h3>DropdownExample</h3>

<InputSelect @bind-Value ="selectedVendor">
    @foreach (var vendor in vendorDataService.GetVendors())
    {
        <option> @vendor.BusinessName</option>
        <option> @vendor.Address.City</option> //this is causing error


        //Dropdown menu
    }
</InputSelect>

@code {
    //what does it mean to have a code 
    // like the one below inside this block?
    //So that the code would not render?
    Vendor selectedVendor { get; set; } 

}
